* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
}
.programs-item {
  display: flex;
  gap: 10px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navigation {
  background: #ffffff;
  min-width: 30%;
  font-size: 18px;
  font-weight: 500;
  gap: 2px;
  border-right: 1px solid gray;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100vh;
}

.main {
  padding: 10px;
  width: 100%;
  background: #ffffff;
}

#portals {
  background-color: #ededed;
  padding: 10px;
}

.menu-item__radio {
  display: none;
}

.menu-item {
  display: flex;
  flex-direction: column;
}
.menu-item__radio:checked + label {
  background: #4574fff5;
  color: #ffffff;
}
.menu-item__radio + label {
  padding: 10px;
}

.checkbox-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.portal-checkbox {
  display: none;
}

.checkbox__item {
  width: 100%;
  height: 130px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.portal-checkbox + label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
}

.portal-checkbox label {
  position: relative;
  z-index: 1;
}

.label-wrap {
  display: flex;
  position: absolute;
  opacity: 0;
  background-color: transparent;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.label-wrap.hover {
  display: flex;
  opacity: 1;
  transition: ease-in opacity 0.3s;
  background-color: rgba(5, 5, 5, 0.6);
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.label-wrap.checked {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 1;
  transition: ease-in opacity 0.3s;
  background-color: rgba(11, 137, 0, 0.815);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.btn {
  cursor: pointer;
  margin-top: 5px;
  min-width: 30%;
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  background: #0d6efd;
}

.programms-title {
  font-size: 24px;
  font-weight: 600;
}

.programs {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.programs-item {
  display: flex;
  align-items: center;
  width: 40%;
}

.doawnload-torrent,
.doawnload-btn {
  min-width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 16px;
  background: #4574fff5;
  color: #ffffff;
}

.doawnload-torrent:disabled,
.btn:disabled {
  cursor: not-allowed;
  background-color: #a9a9a9cc;
}

.group-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.progress {
  opacity: 0;
  transition: ease-out 0.8s;
}

.progress.active {
  opacity: 1;
  display: flex;
  flex-direction: column;
}
