* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
}
.programs-item {
  display: flex;
  gap: 10px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navigation {
  background: #ffffff;
  min-width: 30%;
  font-size: 18px;
  font-weight: 500;
  gap: 2px;
  border-right: 1px solid gray;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100vh;
}

.main {
  padding: 10px;
  width: 100%;
  background: #ffffff;
}


#portals {
  background-color: #ededed;
  padding: 10px;
}

.menu-item__radio {
  display: none;
}

.menu-item {
  display: flex;
  flex-direction: column;
}
.menu-item__radio:checked + label {
  background: #4574fff5;
  color: #ffffff;
}
.menu-item__radio + label {
  padding: 10px;
}

.checkbox-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.portal-checkbox {
  display: none;
}

.checkbox-item {
  width: 100%;
  height: 130px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.portal-checkbox + label,.portal-checkbox + label  {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.label-wrap {
  display: none;
}



.portal-checkbox:checked ~ .label-wrap {
  display: block;
  position: absolute;
  background-color:rgba(11, 137, 0, 0.815);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}



.btn {
  cursor: pointer;
  margin-top: 5px;
  min-width: 30%;
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 600;
  border:none;
  color: #ffffff;
  border-radius: 5px;
  background:#0d6efd;
}

.programms-title {
  font-size: 24px;
  font-weight: 600;
}

.programs {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.programs-item {
  display: flex;
  align-items: center;
  width: 40%;
}

.doawnload-torrent, .doawnload-btn  {
  min-width: 100%;
  border:none;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 16px;
  background: #4574fff5;
  color: #ffffff;
}